<template>
<el-menu
  :default-active="activeIndex2"
  class="el-menu-demo"
  mode="horizontal"
  @select="handleSelect"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b">
  <el-menu-item index="1">FoodApp</el-menu-item>
  
  <el-submenu index="2" v-if="showOptions">
    <template slot="title">Nombre Usuario</template>
    <el-menu-item index="2-1">Perfil</el-menu-item>
    <el-menu-item index="2-2">Configuracion</el-menu-item>
    <el-menu-item index="2-3" @click="logout">Salir</el-menu-item>
  </el-submenu>

</el-menu>    
</template>

<script>
  export default {
    data() {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        showOptions: false
      };
    },
    mounted() {
        setTimeout(() => {
          this.showOptions = !window.location.pathname.includes('signin');
        }, 1000)
    },
    methods: {
      handleSelect(key, keyPath) {
      },

      logout() {
        axios.get('/logout')
          .then(() => {
            window.location.reload()
          })
      }
    }
  }
</script>

<style>
 .el-menu-demo {
   margin-bottom: 50px;
 }
</style>
