<template>
    <el-form ref="form" :model="form" label-width="120px" @submit="onSubmit">
        <el-form-item label="Empleado" class="form-group">
            <input class="form-control" v-model="form.employee" @keypress.enter="onSubmit" required>
        </el-form-item>

        <el-form-item label="Codigo" class="form-group">
            <input class="form-control" type="password" v-model="form.code" @keypress.enter="onSubmit" required>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">Loguear Usuario</el-button>
        </el-form-item>
        </el-form>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          employee: '',
          code: '',
        }
      }
    },
    methods: {
      onSubmit() {
        if (this.form.employee && this.form.code) {
          this.$emit('save', this.form);
        } else {
            this.$notify({
              title: 'Error',
              message: 'Llene todos los campos',
              type: 'error'
            })
        }
      }
    }
  }
</script>
