<template>
  <div class="container">
    <el-card class="box-card" v-if="!isAuthenticated">
      <div slot="header" class="clearfix">
        <span>Empleado</span>
      </div>
      <employee-auth @save="authEmployee"></employee-auth>
    </el-card>

    <product-selection v-if="isAuthenticated" @add-order="addOrder"></product-selection>
    
  </div>
</template>

<script>
import EmployeeAuth from './EmployeeAuth.vue';
import ProductSelection from './ProductSelection.vue';
import axios from 'axios';

export default {
    name: "OrderSection",
    props: {
        msg: String
    },
    components: {
      EmployeeAuth,
      ProductSelection
    },
    data() {
      return {
        isAuthenticated: false
      }
    },
    methods: {
      authEmployee() {
        axios.post(`${API_URL}/auth`)
          .then(({data}) => {
            if (data) {
              this.onAuthSuccess();
            }
          }).catch( error => {
            this.onAuthSuccess();
          })
      },

      addOrder(order) {
        const form = {
          name: 'test',
          employee_id: 1,
          items: order
        }

        axios.post(`${API_URL}/orders`)
          .then(res => {
            this.$notify({
              title: 'Success',
              message: 'Orden agregada',
              type: 'success'
            })

            this.onOrderSucess();
          })
          .catch(err => {
            this.onOrderSucess();
              console.log(err)
          });
      },

      onAuthSuccess() {
        this.isAuthenticated = true
        this.$notify({
          title: 'Success',
          message: 'Empleado correcto',
          type: 'success'
        });
      },

      onOrderSucess() {
        this.isAuthenticated = false;
        this.$router.push('order-success')
      }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

.container {
  margin-top: 50px;
}
</style>
