<template>
 <el-row :gutter="20">
  <el-col :span="16" :xs="24">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span> Productos </span>
      </div>
            <el-table
                ref="multipleTable"
                :data="tableData3"
                style="width: 100%"
                @select-all="handleSelectAll"
                @select="handleSelectionChange">
                <el-table-column
                type="selection"
                width="55">
                </el-table-column>
                <el-table-column
                property="name"
                label="Nombre"
                width="120">
                </el-table-column>
                <el-table-column
                property="price"
                label="Precio"
                width="120">
                </el-table-column>
                <el-table-column
                property="description"
                label="Descripcion"
                show-overflow-tooltip>
                </el-table-column>
            </el-table>
    </el-card>
  </el-col>

  <el-col :span="8" :xs="24">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span> Total Seleccion </span>
      </div>
        RD$ {{ orderTotal }}
    </el-card>
  </el-col>
  <el-col :span="8" :xs="24">
    <br>
     <el-button type="primary" @click="addOrder"> Hacer Orden </el-button>
  </el-col>

</el-row>

</template>

<script>
  export default {
    data() {
      return {
        tableData3: [],
        limit: 400,
        order: []
      }
    },

    computed: {
        orderTotal() {
            const total = this.order.reduce((total, item) => {
                return total += item.price;
            }, 0)

            return Number(total).toFixed(2);
        }
    },

    mounted() {
      this.getProducts();
    },

    methods: {
       handleSelectAll(selectedRows, row) {
        if (!this.checkLimit(selectedRows, true)) {
          this.order = selectedRows;
        } else {
          this.$notify({
            title: 'Aviso',
            message: `El limite para esre cliente es de ${this.limit}`,
            type: 'info'
          })
        }
      },

      getProducts() {
        axios.get('/current')
        axios.get(`${API_URL}/foods?origin=*`)
          .then(res => {
            this.tableData3 = res.data;
          }).catch(err => {
            this.fallBack()
          })
      },

      handleSelectionChange(selectedRows) {
        if (!this.checkLimit(selectedRows)) {
          this.order = selectedRows;
        } else {
          this.$notify({
            title: 'Aviso',
            message: `El limite para esre cliente es de ${this.limit}`,
            type: 'info'
          })
        }
      },

      checkLimit(rows, allRows) {
        if (this.limit < Number(this.orderTotal)) {
          if (allRows) {
              this.$refs.multipleTable.clearSelection();
            } else {  
              this.$refs.multipleTable.toggleRowSelection(this.order[this.order.length - 1], false)
            }
          return true;
        }
      },

      addOrder() {
        this.$emit('add-order', this.order)
      },

      fallBack() {
        this.tableData3 =  [{                                           
            name: 'Tradicional',                                   
            price: 150,                                            
            description: 'Habichuelas rojas, frijoles, wasacaca'   
          },                                                       
          {                                                        
            name: 'Especial',                                      
            price: 150,                                            
            description: 'Habichuelas rojas, frijoles, wasacaca'   
          },                                                       
          {                                                        
            name: 'Ligera',                                        
            price: 150,                                            
            description: 'Habichuelas rojas, frijoles, wasacaca'   
          },                                                       
          {                                                        
            name: 'Otra',                                          
            price: 150,                                            
            description: 'Habichuelas rojas, frijoles, wasacaca'   
        }]
      }
    }

  }
</script>

<style>
 th .el-checkbox{
   display: none
 }
</style>
