<template>
  <div class="home">
    <OrderSection/>
  </div>
</template>

<script>
// @ is an alias to /src
import OrderSection from "@/components/OrderSection.vue";

export default {
    name: "home",
    components: {
        OrderSection
    }
};
</script>
