<template>
  <div class="container">
    <el-card class="box-card" v-if="!isAuthenticated">
      <div slot="header" class="clearfix">
        <span>Orden guardada con exitos</span>
      </div>
       Orden generada
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" @click.prevent="backToHome">Volver a vender </button>
    </el-card>    
  </div>
</template>

<script>

export default {
    name: "home",
    methods: {
      backToHome() {
        this.$router.push('/');
      }
    }
};
</script>
